@font-face {
  font-family: agency;
  src: url(/font/agencyr.ttf);
}

@font-face {
  font-family: agency;
  src: url(/font/agencyb.ttf);
  font-weight: bold;
}

body {
  font-family: agency;
  font-size: 16px;
  color: #fff;
}

a {
  color: #fff;
}
a:hover {
  color: red;
}

.alert {
  margin: 20px 60px;
}

.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
.btn-primary:hover {
  color: red;
  background-color: #000;
  border-color: red;
}

.header {
  background-image: url('/images/header-muster.jpg');
}

.input-lg {
  color: #000;
  font-size: 20px;
  text-align: center;
}

.jumbotron-regen {
  background: url('/images/regen-hintergrund.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.jumbotron-schnee {
  background: url('/images/schnee-hintergrund.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 140px;
}
.navbar-text {
  font-size: 36px;
  margin-top: 40px;
}

.form-container {
  background-image: url('/images/plz-muster.jpg');
  padding: 50px 0 50px;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-left: 20px;
}

.vertical-center {
  margin-top: 20vh;
}

@media only screen and (max-width: 736px) {
  .jumbotron-regen {
    height: 100%;
  }
  .jumbotron-schnee {
    height: 100%;
  }

  .navbar-text {
    margin-top: 5px;
  }

  .footer {
    height: 140px;
    position: relative;
    padding: 20px 0 20px 20px;
  }

  .vertical-center {
    margin-top: 20px;
  }
}